body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  background-color: #262626;
}



.container {
  width: 55%;
  max-width: 600px;
  height: 70vh;
  margin: auto;
  margin-top: 10vh;
  border: 2px solid black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  margin-top: 3em;
  text-align: right;
  margin-right: 13%;
  margin-bottom: 2em;
}

.positive {
  color: #99ffc0
}

.negative {
  color: #ff7a85
}

.primary {
  color: #5fff8f
}

.secondary {
  color: #ff3d78
}

#net-label {
  font-size: 1.6em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

#net-amt {
  font-size: 1.5em;
}

#day-label {
  margin-top: 0.3em;
  margin-bottom: 0.3em;
  /* margin-right: 13.6%; */
}

#day-amt {
  font-size: 1.3em;
}

#header-hr {
  width: 80%;
}

.row {
  margin-top: 5vh;
}

.row-header {
  margin-left: 19%;
  font-size: 1.2em;
}

.row-hr {
  width: 70%;
  margin-left: 0px;
}

.add-item {
  margin-left: 7px;
}

#submit-form {
  margin-left: 25%;
}

ul {
  list-style-type: none;
}

.income-list-item {
  margin-right: 13%;
  text-align: right;
}

.hiddenForm {
  width: 70%;
}

.delet {
  display: inline;
  margin-left: 20px;
  size: 0.5em;
}
