body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: lime;
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  margin: auto;
  text-align: center;
}

.header-hr {
  width: 60%;
  color:yellow;
}

.col-hr {
  color: cyan;
  width: 10em;
}

.col-head {
  text-align: center;
}

.row {
  display: flex;
  justify-content: space-evenly;
}

.column {
  flex-basis: 20%
}

.hiddenForm {
  width: 70%;
}

.delet {
  display: inline;
  margin-left: 20px;
  size: 0.5em;
}
